@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  width: 100%;
}

.large-padding-block-container {
  padding-block: min(3.5rem, 15vh);
}

.circle {
  position: absolute;
  border-radius: 50%;
  z-index: -1;
}

.one {
  top: 10%;
  left: -8%;
  width: 81px;
  height: 81px;
  background-color: #34c982;
}

.two {
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  height: 200px;
  width: 200px;
  background-color: #f89ae9;
}

.three {
  top: 40%;
  right: 0;
  height: 120px;
  width: 120px;
  background-color: #f89ae9;
}

.four {
  bottom: 5%;
  left: 0;
  height: 220px;
  width: 220px;
  background-color: #c5a2f1;
}

.truncate-para {
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* .clipContainer::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  clip-path: polygon(
    20% 0%,
    80% 0%,
    100% 20%,
    100% 80%,
    80% 100%,
    20% 100%,
    0% 80%,
    0% 20%
  );
} */
